<div class="mt-3 p-2">
<div class="caja mb-5">
<h3 class="text-center font-weight-bold text-info">Buscar Persona</h3>
<div class="md-form mb-0">
  <input
    mdbInput
    type="text"
    name="text"
    [(ngModel)]="termino"
    id="form1"
    class="form-control mb-3"
  />
  <label for="form1" class=""
    >Ingrese un DNI o bien una fecha en formato: dd/mm/aaaa</label
  >
</div>

<div class="md-form mb-0 mt-0">
  <button class="mb-0" type="button" size="sm" mdbBtn block="true" color="primary" mdbWavesEffect
  (click)="buscarTermino(termino)">
    Buscar
  </button>
</div>

</div>

<div *ngIf="this.person" class="mt-2">
  <app-card-persona-buscada [personas]="person"></app-card-persona-buscada>
  <!--<app-lista-personas [personas]="person"></app-lista-personas>-->
</div>

<div *ngIf="!this.person && realizoBusqueda">
  <div #alert class="alert alert-warning alert-dismissible fade show" role="alert">
    <button type="button" class="close" aria-label="Close" (click)="closeAlert()">
      <span aria-hidden="true">&times;</span>
    </button>
    <strong>Sin Resultados!</strong> Ninguna persona cumple con el criterio ingresado.
  </div>
</div>
</div>