<div class="circulo">
    <div
      class="c100 p100"
      [ngClass]="{
        green: titulo === 'Recuperados',
        red: titulo === 'Infectados',
        black: titulo === 'Fallecidos',
        orange: titulo !== 'Recuperados' && titulo !== 'Infectados' && titulo !== 'Fallecidos'
      }"
    >
      <span class="strong text-xs ">{{ cantidad  }}</span>
      <div class="slice">
        <div class="bar"></div>
        <div class="fill"></div>
      </div>
    </div><br>
    <p class="mr-2" [ngClass]="{
        verde: titulo === 'Recuperados',
        rojo: titulo === 'Infectados',
        negro: titulo === 'Fallecidos',
        naranja: titulo !== 'Recuperados' && titulo !== 'Infectados' && titulo !== 'Fallecidos'
      }"> {{titulo}} </p>
  </div>

    
    

