<!--<div class="estadistica mt-2 mb-2 text-center">
    <div class="titulo-caja">
        <span class="text-center h4" [ngStyle]="{'background-color': color}"> {{cantidad}} </span>
    </div>
    <span class="text-center h3"> {{titulo}} </span>
    
</div>-->

<li class="list-group-item p-0">
    <div class="row">
        <div class="col-4">
            <div class="cantidad-caja" [ngStyle]="{'background-color': color}">
                {{cantidad}}
            </div>
        </div>

        <div class="col-8">
            <div>
                {{titulo}}
            </div>
        </div>
    </div>
    
    
</li>
