.estadistica {
    height: 100px;
    width: 240px;
    color: #444;
    border: 1px solid #f80000;
    border-radius: 12px;
}

.cantidad-caja {
    width: 60px;
    height: 40px;
    box-sizing: border-box;
    border: 1px solid #f0f0f0;
    border-radius: 8px;
    color: #444;
    font-weight: 800;
    text-align: center;
}

.list-group-item {
    border: 1px solid #c4c4c4;
    border-radius: 8px;
    height: 40px;
}



