<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark cyan accent-1-bg" [containerInside]="false">

    <!-- Navbar brand -->
    <mdb-navbar-brand>
      <img src="assets/bsso.png" class="navbar-brand img-brand" alt="">
    </mdb-navbar-brand>
  
    <!-- Collapsible content -->
    <links>
  
      <!-- Links -->
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a (click)="navegar('/')" class="nav-link waves-light" mdbWavesEffect>
            <mdb-icon fas class="" icon="home"></mdb-icon>  
            Inicio<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a (click)="navegar('persona')" class="nav-link waves-light" mdbWavesEffect>
            <mdb-icon fas class="" icon="user-plus"></mdb-icon>  
            Nueva Persona</a>
        </li>
        <li class="nav-item">
          <a (click)="navegar('seguimiento')" class="nav-link waves-light" mdbWavesEffect>
            <mdb-icon fas class="" icon="list"></mdb-icon>  
            Seguimiento</a>
        </li>

        <li class="nav-item">
          <a (click)="navegar('buscar')" class="nav-link waves-light" mdbWavesEffect>
            <mdb-icon fas class="" icon="search"></mdb-icon>  
            Busqueda</a>
        </li>
      </ul>
      <!-- Links -->


      <ul class="navbar-nav ml-auto nav-flex-icons">
        <li class="nav-item">
          <a class="nav-link" (click)="cerrarSesion()">
            <mdb-icon fas icon="sign-out-alt"></mdb-icon>
            Salir
          </a>
        </li>
      </ul>
  
  
    </links>
    <!-- Collapsible content -->
  
  </mdb-navbar>
  <!--/.Navbar-->
