.personas-lista {
    border: 1px solid #f0f0f0;
    border-radius: 10px;
    padding: 1em;
    box-shadow:  21px 21px 41px #cfcfcf, 
             -21px -21px 41px #ffffff;
}

/*.linea-abajo {
    margin-top: -.15em !important;
}*/