
<table mdbTable hover="true">
  <tbody>
    <tr
      mdbTableCol
      *ngFor="let persona of personas"
      (click)="detallePersona(persona.dni)"
      style="cursor: pointer;"
    >
      <th scope="row" class="text-primary">
        <mdb-icon fas class="mr-1" icon="id-card"></mdb-icon>  
        {{ persona.dni }}
        </th>
      <td>
        <mdb-icon fas class="mr-1" icon="user"></mdb-icon>  
          {{ persona.apellido }} {{ persona.nombre }}
        </td>
        <td>
          <mdb-icon fas class="mr-1" icon="phone"></mdb-icon>  
            {{ persona.telefono }}
          </td>
      <td class="font-weight-bold" [ngClass]="{
        'text-success': persona['Estado'] === 'Alta',
        'text-danger': persona['Estado'] === 'Positivo',
        'text-dark': persona['Estado'] === 'Fallecido'  }">
        {{ persona.Estado }} <span *ngIf="persona.Caso_sospechoso === 'Si' " class="ml-1 text-warning font-weight-bold"> Sospechoso </span>
      </td>
    </tr>
  </tbody>
</table>
