.naranja {
    color: #dd9d22 !important;
    font-weight: 900;
    font-size: 1.4em;
  }
  
  .verde {
    color: #4db53c !important;
    font-weight: 900;
    font-size: 1.4em;
  }
  
  .rojo {
    color: #e62e2e !important;
    font-weight: 900;
    font-size: 1.4em;
  }
  
  .negro {
    color: #4c4c4c !important;
    font-weight: 900;
    font-size: 1.4em;
  }