<app-header></app-header>
  <div class="container-fluid p-3 mb-0">
<div class="container mb-5 animated fadeIn" *ngIf="cargando">
  <app-cargando></app-cargando>
</div>

<div class="container-fluid mt-4 animated fadeInUp" *ngIf="!cargando">
  <div class="caja-datos mt-5">
    <div class="admin-up">
      <mdb-icon far icon="user" class="icono-superior primary-color"></mdb-icon>
    </div>
    <div class="titulo-caja mb-1 mt-2">
      <h3 *ngIf="nuevo" class="text-center text-info font-weight-bold"> Alta Nueva Persona </h3>
    <h3 *ngIf="!nuevo" class="h3 text-center text-info font-weight-bold"> {{persona[0].apellido}} {{persona[0].nombre}} </h3>
    <h5 *ngIf="!nuevo" class="text-center font-italic text-info font-weight-bold"> {{persona[0].dni}} </h5>  
    </div>
    
    <div class="row mt-0 caja-pildoras">
      <div class="col-12 d-flex align-content-center justify-content-end align-items-center">
        <span
          *ngIf="persona[0].Personal_esencial"
          class="badge badge-pill badge-info p-2 mr-1"
        >
          <mdb-icon fas icon="user-md"></mdb-icon>
          Personal Escencial</span
        >

        <span
          *ngIf=" persona[0].Caso_sospechoso"
          class="badge badge-pill badge-warning p-2"
        >
          <mdb-icon fas icon="exclamation-triangle"></mdb-icon>
          Es Sospechoso</span
        >

        <span
          *ngIf="!persona[0].Caso_sospechoso"
          class="badge badge-pill badge-success p-2"
        >
          <mdb-icon fas icon="thumbs-up"></mdb-icon>
          No Es Sospechoso</span
        >
      </div>
    </div>
    <form #f="ngForm" class="mt-4" novalidate="">
      <div class="row">
        <div class="col-12 col-md-3">
          <div class="md-form mb-0">
            <input
              mdbInput
              type="text"
              name="dni"
              [(ngModel)]="persona[0].dni"
              id="dni"
              class="form-control mb-3"
            />
            <label for="dni" class="">Dni</label>
          </div>
        </div>
        <div class="col-12 col-md-4">
          <div class="md-form mb-0">
            <input
              mdbInput
              type="text"
              name="apellido"
              [(ngModel)]="persona[0].apellido"
              id="apellido"
              class="form-control mb-3"
            />
            <label for="apellido" class="">Apellido</label>
          </div>
        </div>
        <div class="col-12 col-md-4">
          <div class="md-form mb-0">
            <input
              mdbInput
              type="text"
              name="nombre"
              [(ngModel)]="persona[0].nombre"
              id="nombre"
              class="form-control mb-3"
            />
            <label for="nombre" class="">Nombre</label>
          </div>
        </div> 
      </div>

      <div class="row">
        <div class="col-12 col-md-4">
          <div class="md-form mb-0">
            <input
              mdbInput
              type="text"
              name="fecha"
              [(ngModel)]="persona[0].Fecha"
              id="fecha"
              class="form-control mb-3"
            />
            <label for="fecha" class="">Fecha Diagnostico</label>
          </div>
        </div>
        <div class="col-12 col-md-4">
          <div class="md-form mb-0">
            <input
              mdbInput
              type="text"
              name="edad"
              [(ngModel)]="persona[0].edad"
              id="edad"
              class="form-control mb-3"
            />
            <label for="edad" class="">Edad</label>
          </div>
        </div>

        <div class="col-12 col-md-4">
          <div class="md-form mb-0">
            <select [ngModelOptions]="{ standalone: true }" [(ngModel)]="persona[0].sexo" class="browser-default custom-select">
                <option [ngValue]="persona[0].sexo" selected>{{persona[0].sexo}}</option>
                <option *ngFor="let s of sexos" [ngValue]="s">{{s}}</option>
                
            </select>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12 col-md-6">
          <div class="md-form mb-0">
            <input
              mdbInput
              type="text"
              name="direc"
              [(ngModel)]="persona[0].direc"
              id="direc"
              class="form-control mb-3"
            />
            <label for="direc" class="">Direccion</label>
          </div>
        </div>
        <div class="col-12 col-md-6">
          <div class="md-form mb-0">
            <select [ngModelOptions]="{ standalone: true }" [(ngModel)]="persona[0].barrio" class="browser-default custom-select">
                <option [ngValue]="persona[0].barrio" selected>{{persona[0].barrio}}</option>
                <option *ngFor="let barrio of barrios" [ngValue]="barrio">{{barrio}}</option>
            </select>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12 col-md-6">
          <div class="md-form mb-0">
            <input
              mdbInput
              type="text"
              name="telefono"
              [(ngModel)]="persona[0].telefono"
              id="telefono"
              class="form-control mb-3"
            />
            <label for="telefono" class="">Telefono</label>
          </div>
        </div>
        <div class="col-12 col-md-6">
          <div class="md-form mb-0">
            <input
              mdbInput
              type="text"
              name="email"
              [(ngModel)]="persona[0].email"
              id="email"
              class="form-control mb-3"
            />
            <label for="email" class="">Email</label>
          </div>
        </div>
      </div>

      <div class="caja-sintomas">
        <h3 class="text-center font-weight-bold text-info mt-1 mb-4">
          Sintomas
        </h3>

        <div class="row mt-1">
          <div class="col-12 col-md-4 mt-1 mb-1">
            <div class="custom-control custom-checkbox">
              <input
                type="checkbox"
                class="custom-control-input"
                id="tos"
                [ngModelOptions]="{ standalone: true }"
                [(ngModel)]="persona[0].Tos"
              />
              <label
                class="custom-control-label small font-weight-bold text-elegant-col-12 col-md-4or"
                for="tos"
                >TOS</label
              >
            </div>
          </div>

          <div class="col-12 col-md-4 mt-1 mb-1">
            <div class="custom-control custom-checkbox">
              <input
                type="checkbox"
                class="custom-control-input"
                id="Perdida_gusto_olfato"
                [ngModelOptions]="{ standalone: true }"
                [(ngModel)]="persona[0].Perdida_gusto_olfato"
              />
              <label
                class="custom-control-label small font-weight-bold text-elegant-color"
                for="Perdida_gusto_olfato"
                >Perdida gusto y/u olfato</label
              >
            </div>
          </div>

          <div class="col-12 col-md-4 mt-1 mb-1">
            <div class="custom-control custom-checkbox">
              <input
                type="checkbox"
                class="custom-control-input"
                id="fiebre"
                [ngModelOptions]="{ standalone: true }"
                [(ngModel)]="persona[0].Fiebre"
              />
              <label
                class="custom-control-label small font-weight-bold text-elegant-color"
                for="fiebre"
                >Fiebre</label
              >
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-12 col-md-4 mt-1 mb-1">
            <div class="custom-control custom-checkbox">
              <input
                type="checkbox"
                class="custom-control-input"
                id="Dificultad_respiratoria"
                [ngModelOptions]="{ standalone: true }"
                [(ngModel)]="persona[0].Dificultad_respiratoria"
              />
              <label
                class="custom-control-label small font-weight-bold text-elegant-color"
                for="Dificultad_respiratoria"
                >Dificultad respiratoria</label
              >
            </div>
          </div>

          <div class="col-12 col-md-4 mt-1 mb-1">
            <div class="custom-control custom-checkbox">
              <input
                type="checkbox"
                class="custom-control-input"
                id="Dolor_de_garganta"
                [ngModelOptions]="{ standalone: true }"
                [(ngModel)]="persona[0].Dolor_de_garganta"
              />
              <label
                class="custom-control-label small font-weight-bold text-elegant-color"
                for="Dolor_de_garganta"
                >Dolor de garganta</label
              >
            </div>
          </div>

          <div class="col-12 col-md-4 mt-1 mb-1">
            <div class="custom-control custom-checkbox">
              <input
                type="checkbox"
                class="custom-control-input"
                id="Contacto_estrecho"
                [ngModelOptions]="{ standalone: true }"
                [(ngModel)]="persona[0].Contacto_estrecho"
              />
              <label
                class="custom-control-label small font-weight-bold text-elegant-color"
                for="Contacto_estrecho"
                >Contacto estrecho</label
              >
            </div>
          </div>
        </div>

        <div class="row">
            <div class="col-12 col-md-4 mt-1 mb-1">
                <div class="custom-control custom-checkbox">
                    <input
                      type="checkbox"
                      class="custom-control-input"
                      id="Caso_sospechoso"
                      [ngModelOptions]="{ standalone: true }"
                      [(ngModel)]="persona[0].Caso_sospechoso"
                    />
                    <label
                      class="custom-control-label small font-weight-bold text-elegant-color"
                      for="Caso_sospechoso"
                      >Caso sospechoso</label
                    >
                  </div>
            </div>

            <div class="col-12 col-md-4 mt-1 mb-1">
                <div class="custom-control custom-checkbox">
                  <input
                    type="checkbox"
                    class="custom-control-input"
                    id="Personal_esencial"
                    [ngModelOptions]="{ standalone: true }"
                    [(ngModel)]="persona[0].Personal_esencial"
                  />
                  <label
                    class="custom-control-label small font-weight-bold text-elegant-color"
                    for="Personal_esencial"
                    >Personal esencial</label
                  >
                </div>
              </div>

            
        </div>
        <div class="row mt-2">
          <div class="col">
            <div class="md-form mb-0">
              <p class="font-weight-bold text-info">Diagnostico / Estado:</p>
              <select [ngModelOptions]="{ standalone: true }" [(ngModel)]="persona[0].Estado" class="browser-default custom-select">
                  <option [ngValue]="persona[0].Estado" selected>{{persona[0].Estado || ''}}</option>
                  <option value="Positivo" selected>Positivo</option>
                  <option value="Alta" selected>Alta</option>
                  <option value="Fallecido" selected>Fallecido</option>
                  <!---<option value="Negativo" selected>Negativo</option>     NO VA    -->
              </select>
            </div>
          </div>
        </div>
        
        <!--SOLO SI SELECCIONAN POSITIVO SE TIENE QUE HABILITAR ESTE SELECT-->
        <div class="row mt-2" *ngIf="persona[0]['Estado'] === 'Positivo' ">
          <div class="col">
            <div class="md-form mb-0">
              <p class="font-weight-bold text-info">Seguimiento</p>
              <select class="browser-default custom-select" [ngModelOptions]="{ standalone: true }" [(ngModel)]="persona[0].Seguimiento">
                  <option *ngFor="let ps of personasSeguimiento" value='{{ps.apellido}} {{ps.nombre}}' selected>{{ps.apellido}} {{ps.nombre}}</option>
              </select>
            </div>
          </div>
        </div>
      </div>
    
    </form>

    <div class="row">
      <div class="col-12 col-md-6">
        <button
          *ngIf="!nuevo"
          (click)="updatePersona(persona[0])"
          class="btn-block mt-4 mb-2"
          mdbBtn
          type="button"
          color="elegant"
          mdbWavesEffect
        >
          <mdb-icon fas class="mr-1" icon="save"></mdb-icon>
          Guardar Cambios
        </button>

        <button
          *ngIf="nuevo"
          (click)="addPersona(persona[0])"
          class="btn-block mt-4 mb-2"
          mdbBtn
          type="button"
          color="success"
          mdbWavesEffect
        >
          <mdb-icon fas class="mr-1" icon="plus"></mdb-icon>
          Guardar Persona
        </button>
      </div>

      <div class="col-12 col-md-6">
        <button
        (click)="cancelarEdit()"
        class="btn-block mt-4 mb-2"
        mdbBtn
        type="button"
        color="danger"
        mdbWavesEffect
      >
      
      <mdb-icon fas class="mr-1" icon="trash"></mdb-icon>
        Cancelar
      </button>
      </div>
    </div>
  </div>
</div>
</div>