<section class="">
  <!--Grid row-->
  <div class="row">
    <!--Grid column-->
    <div class="col-12 mb-r" *ngFor="let persona of personas">
      <mdb-card>
        <!--Card content-->
        <mdb-card-body class="p-0">
          <!--Title-->
          <mdb-card-title class="p-3">
            <h4 class="text-center text-info font-weight-bold">
              {{ persona.apellido }} {{ persona.nombre }}
              <small>({{ persona.edad }})</small>
            </h4>
            <h6 class="mb-0 text-center text-info font-weight-bold">
              {{ persona.dni }}
            </h6>
          </mdb-card-title>
          <div class="mb-2 d-flex align-content-center justify-content-center align-items-center">
            <small class="ml-3">
              <mdb-icon class="mr-1 text-primary" fas icon="phone"></mdb-icon>
              <span class="muted"> {{ persona.telefono }} </span> 
            </small>

            <small class="ml-3">
              <mdb-icon class="mr-1 text-primary" fas icon="home"></mdb-icon>
              <span class="muted"> {{ persona.direc }} </span> 
            </small>

            <small class="ml-2">
                <mdb-icon class="mr-1 text-primary" fas icon="map-marker-alt"></mdb-icon>
                <span class="muted"> {{ persona.barrio }} </span> 
              </small>
        </div>

          <button
            type="button"
            class="btn btn-block btn-primary"
            (click)="irPersona(persona.dni)"
          >
            <mdb-icon class="mr-1" fas icon="edit"></mdb-icon>
            Editar
          </button>
        </mdb-card-body>
      </mdb-card>

      <!--Card-->

      <!--/.Card-->
    </div>
    <!--Grid column-->
  </div>
  <!--Grid row-->
</section>
