
<div class="chart-container mb-4" style="position: relative; display: block;">  <!--style="display: block"-->

    <h6 class="text-center font-weight-bold text-info">{{estadisticaTotal['barrio']}}</h6>
    <canvas class="caja-grafico" mdbChart
        [chartType]="chartType"
        [datasets]="chartDatasets"
        responsive='true'
        [labels]="chartLabels"
        [colors]="chartColors"
        [options]="chartOptions"
        [legend]="true"
        (chartHover)="chartHovered($event)"
        (chartClick)="chartClicked($event)">
    </canvas>
  </div>

  
  

