<div class="container" *ngIf="!cargando">
  
  <div class="row mt-0" *ngIf="!cargando">
    <div class="col-12">
      <app-seccion-estadisticas [cantidades]="cantidades"></app-seccion-estadisticas>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <app-busqueda-simple></app-busqueda-simple>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <app-card-persona-buscada></app-card-persona-buscada>
    </div>
  </div>

  <div class="row mt-4 mb-5 caja">
    <div class="col-12 col-md-6">
      <!--ACA LOS CHARTS-->
      <div
        class="d-flex align-content-center justify-content-center align-items-center"
      >
        <app-grafico></app-grafico>
      </div>
    </div>

    <div class="col-12 col-md-6">
      <!--ACA EL MAPA-->
      <div
        class="d-flex align-content-center justify-content-center align-items-center"
      >
        <app-mapa></app-mapa>
      </div>
    </div>
  </div>
</div>

<div class="container mb-5" *ngIf="cargando">
    <app-cargando></app-cargando>
</div>
