.classic-admin-card .card-body {
    width: 240px;
    color: #fff;
    margin-bottom: 0;
    padding: 0.9rem;
}

.classic-admin-card .card-body p {
    font-size: 16px;
    opacity: 0.8;
    margin-bottom: 0;
}

.classic-admin-card .card-body h4 {
    margin-top: 10px;
}

.classic-admin-card .card-body .float-right .fa {
    font-size: 3rem;
    opacity: 0.5;
}

.classic-admin-card .progress {
    margin: 0;
    opacity: 0.7;
}

@media (max-width: 995px) {
  .classic-admin-card .card-body {
    width: 200px;
}
}

@media (max-width: 850px) {
  .classic-admin-card .card-body {
    width: 180px;
}
}

@media (max-width: 386px) {
  .classic-admin-card .card-body {
    width: 130px;
}
}